
.btn-primary {
  position: relative;
  padding: 13px 50px 5px 50px;
  font-weight: 700;
  font-size: 16px;
  // box-shadow: 0 7px 0 #80B23F, 0 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 0 #75a33a, 0 8px 3px rgba(0, 0, 0, 0.3);
  border: 0;
  outline: 0;

  &:hover {
    border: 0;
    background: darken(#80B23F, 4%);
    box-shadow: 0 7px 0 darken(#80B23F, 4%), 0 8px 3px rgba(0, 0, 0, 0.3);
  }

  &:focus,
  &:active {
    border: 0;
    outline: 0;
    box-shadow: 0 7px 0 darken(#80B23F, 4%), 0 8px 3px rgba(0, 0, 0, 0.3);
  }
}
